<div class="wrapper">

<% if params[:category] == nil %>
	<h1>All Categories</h1>
<% else %>
	<h1><%= "#{params[:category]}" %></h1>
<% end %>

		<p>Change Categories Below</p>

		<div class="btn"><%= link_to "All Categories", lexicons_path %></div>
		<% @categories.each do |c| %>
					<div class="btn" id="space"><%= link_to c.category, lexicons_path(category: c.category) %></div>
		<% end %>

		<br><br>

	<div class="row">
		<% @lexicons.each do |entry| %>
			<div class="col-md-4">
				<div class="well">
					<% if entry.code.to_s.length < 5 %>
						<h2><%= entry.code.to_s %></h2>
					<% else %>
						<h2><%= entry.code.to_s[0..10] %>...</h2>
					<% end %>
					<h4><%= entry.description.to_s[0..50] %>...</h4>
					<small>Category: <%= entry.category %></small>
					<br><br>
					<div class="btn"><%= link_to "Show", lexicons_show_path(id: entry) %></div>
				</div>
			</div>
		<% end %>
	</div>

</div>