<p id="notice"><%= notice %></p>

<h1>All Lexicon Entries</h1>

<div class="row">
	<% @lexicons.each do |entry| %>
		<div class="col-md-4">
			<div class="well">
				<h2><%= entry.code.to_s[0..10] %>...</h2>
				<h4><%= entry.description.to_s[0..50] %>...</h4>
				<h4><%= link_to "Edit", edit_path %>
				<small>Category: <%= entry.category %></small>
			</div>
		</div>
	<% end %>
</div>