<div class="wrapper">

	<h2><%= @lexicon.code %></h2>
	<p><%= @lexicon.description %></p>
	<p><%= @lexicon.category %></p>


	<div class="btn pull-left"><%= link_to "<-- Previous Entry", lexicons_show_path(id: @lexicon.id-1) %></div>

	<div class="btn pull-right"><%= link_to "Next Entry -->", lexicons_show_path(id: @lexicon.id+1) %></div>

	<br><br><br>

</div>