<!DOCTYPE html>
<html>
<head>
	<meta charset=""utf-8"">
  <meta http-equiv=""X-UA-Compatible"" content=""IE=edge"">
  <meta name=""viewport"" content=""width=device-width, initial-scale=1"">
  <title>Coding Lexicons</title>
  <link href='https://fonts.googleapis.com/css?family=Codystar|Merriweather:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><div class="btn">Home</div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= random_path %>"><div class="btn">Random Entry</div></a></li>
        <li><a href="<%= lexicons_path %>"><div class="btn">Choose A Language</div></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-form navbar-left" role="search">

        <%= form_tag(results_path) do %>
          <div class="form-group">
            <%= text_field_tag :search, nil, placeholder: "Search for a Term", class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="container">
		<%= yield %>
	</div>

<div class="footer">Content &copy 2016</div>
</body>
</html>
